 <section class="auth-section">
    <div class="auth-container">
      <h2> Regístrate en Free Library</h2>
      <form id="registerForm">
        <input type="text" placeholder="Nombre completo" required />
        <input type="email" placeholder="Correo electrónico" required />
        <input type="password" placeholder="Contraseña" required />
        <button type="submit">Registrarse</button>
        <p>¿Ya tienes cuenta? <a href="#/login">Inicia sesión aquí</a></p>
      </form>
    </div>
  </section>